$font-title: "Acme",
sans-serif;
$font-text: "Comic Neue",
sans-serif;
$black: #211f1e;
$white: #fcf9f8;
$red: #d70f0f;
$dark-red: #530000;
$breakpoints: ( xs: 1rem, //16px
sm: 47rem, //752px
md: 65rem, //1040px
lg: 81rem, //1296px
xl: 102rem, //1632px
giga: 120rem, //1920px
);